
<div class="flexcontainer">
	<%= image_tag("cake1.jpg", height: '300', width: '300', class: "img-responsive cake-image") %>
	<%= image_tag("cake2.jpg", height: '300', width: '300', class: "img-responsive cake-image") %>
	<%= image_tag("cake3.jpg", height: '300', width: '300', class: "img-responsive cake-image") %>
</div>
<div class="flexcontainer">
	<%= image_tag("cake4.jpg", height: '300', width: '300', class: "img-responsive cake-image") %>
	<%= image_tag("cake5.jpg", height: '300', width: '300', class: "img-responsive cake-image") %>
	<%= image_tag("cake6.jpg", height: '300', width: '300', class: "img-responsive cake-image") %>
</div>
